--
-- PostgreSQL database dump
--

\restrict MfvSqd9watdyLNc5afHJ6V0R3yrXsXN6PhDNZUUEdVwI7Lcpmas5Zz17cAcxAAq

-- Dumped from database version 16.13 (Debian 16.13-1.pgdg13+1)
-- Dumped by pg_dump version 16.13 (Debian 16.13-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: bank_slip; Type: TABLE; Schema: public; Owner: medicoes_user
--

CREATE TABLE public.bank_slip (
    id bigint NOT NULL,
    nosso_numero character varying(100) NOT NULL,
    digitable_line character varying(255) NOT NULL,
    barcode character varying(255) NOT NULL,
    amount numeric(19,2) NOT NULL,
    due_date date NOT NULL,
    status character varying(50) NOT NULL,
    active boolean DEFAULT true NOT NULL,
    invoice_id bigint NOT NULL
);


ALTER TABLE public.bank_slip OWNER TO medicoes_user;

--
-- Name: bank_slip_id_seq; Type: SEQUENCE; Schema: public; Owner: medicoes_user
--

CREATE SEQUENCE public.bank_slip_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.bank_slip_id_seq OWNER TO medicoes_user;

--
-- Name: bank_slip_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: medicoes_user
--

ALTER SEQUENCE public.bank_slip_id_seq OWNED BY public.bank_slip.id;


--
-- Name: bank_slips; Type: TABLE; Schema: public; Owner: medicoes_user
--

CREATE TABLE public.bank_slips (
    id bigint NOT NULL,
    active boolean NOT NULL,
    amount numeric(38,2),
    barcode character varying(255),
    digitable_line character varying(255),
    due_date date,
    nosso_numero character varying(255),
    paid boolean NOT NULL,
    paid_at timestamp(6) without time zone,
    status character varying(255),
    invoice_id bigint,
    CONSTRAINT bank_slips_status_check CHECK (((status)::text = ANY ((ARRAY['CREATED'::character varying, 'REGISTERED'::character varying, 'PAID'::character varying, 'OVERDUE'::character varying, 'CANCELLED'::character varying])::text[])))
);


ALTER TABLE public.bank_slips OWNER TO medicoes_user;

--
-- Name: bank_slips_id_seq; Type: SEQUENCE; Schema: public; Owner: medicoes_user
--

ALTER TABLE public.bank_slips ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.bank_slips_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: client_properties; Type: TABLE; Schema: public; Owner: medicoes_user
--

CREATE TABLE public.client_properties (
    id bigint NOT NULL,
    client_id bigint NOT NULL,
    property_id bigint NOT NULL,
    active boolean DEFAULT true NOT NULL,
    assigned_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    unassigned_at timestamp without time zone
);


ALTER TABLE public.client_properties OWNER TO medicoes_user;

--
-- Name: client_properties_id_seq; Type: SEQUENCE; Schema: public; Owner: medicoes_user
--

CREATE SEQUENCE public.client_properties_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.client_properties_id_seq OWNER TO medicoes_user;

--
-- Name: client_properties_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: medicoes_user
--

ALTER SEQUENCE public.client_properties_id_seq OWNED BY public.client_properties.id;


--
-- Name: clients; Type: TABLE; Schema: public; Owner: medicoes_user
--

CREATE TABLE public.clients (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    cpf character varying(11) NOT NULL,
    email character varying(255) NOT NULL,
    active boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.clients OWNER TO medicoes_user;

--
-- Name: clients_id_seq; Type: SEQUENCE; Schema: public; Owner: medicoes_user
--

CREATE SEQUENCE public.clients_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.clients_id_seq OWNER TO medicoes_user;

--
-- Name: clients_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: medicoes_user
--

ALTER SEQUENCE public.clients_id_seq OWNED BY public.clients.id;


--
-- Name: flyway_schema_history; Type: TABLE; Schema: public; Owner: medicoes_user
--

CREATE TABLE public.flyway_schema_history (
    installed_rank integer NOT NULL,
    version character varying(50),
    description character varying(200) NOT NULL,
    type character varying(20) NOT NULL,
    script character varying(1000) NOT NULL,
    checksum integer,
    installed_by character varying(100) NOT NULL,
    installed_on timestamp without time zone DEFAULT now() NOT NULL,
    execution_time integer NOT NULL,
    success boolean NOT NULL
);


ALTER TABLE public.flyway_schema_history OWNER TO medicoes_user;

--
-- Name: invoices; Type: TABLE; Schema: public; Owner: medicoes_user
--

CREATE TABLE public.invoices (
    id bigint NOT NULL,
    meter_id bigint NOT NULL,
    reference_month date NOT NULL,
    total_consumed_volume numeric(38,2) DEFAULT 0 NOT NULL,
    price_per_m3 numeric(38,2) NOT NULL,
    status character varying(255) DEFAULT 'OPEN'::character varying NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    closed_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.invoices OWNER TO medicoes_user;

--
-- Name: invoices_id_seq; Type: SEQUENCE; Schema: public; Owner: medicoes_user
--

CREATE SEQUENCE public.invoices_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.invoices_id_seq OWNER TO medicoes_user;

--
-- Name: invoices_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: medicoes_user
--

ALTER SEQUENCE public.invoices_id_seq OWNED BY public.invoices.id;


--
-- Name: measurements; Type: TABLE; Schema: public; Owner: medicoes_user
--

CREATE TABLE public.measurements (
    id bigint NOT NULL,
    meter_id bigint NOT NULL,
    reader_id bigint NOT NULL,
    invoice_id bigint,
    source character varying(255) NOT NULL,
    consumed_volume numeric(12,3) NOT NULL,
    measured_at timestamp without time zone NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.measurements OWNER TO medicoes_user;

--
-- Name: measurements_id_seq; Type: SEQUENCE; Schema: public; Owner: medicoes_user
--

CREATE SEQUENCE public.measurements_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.measurements_id_seq OWNER TO medicoes_user;

--
-- Name: measurements_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: medicoes_user
--

ALTER SEQUENCE public.measurements_id_seq OWNED BY public.measurements.id;


--
-- Name: meter_properties; Type: TABLE; Schema: public; Owner: medicoes_user
--

CREATE TABLE public.meter_properties (
    id bigint NOT NULL,
    meter_id bigint NOT NULL,
    property_id bigint NOT NULL,
    active boolean DEFAULT true NOT NULL,
    assigned_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    unassigned_at timestamp without time zone
);


ALTER TABLE public.meter_properties OWNER TO medicoes_user;

--
-- Name: meter_properties_id_seq; Type: SEQUENCE; Schema: public; Owner: medicoes_user
--

CREATE SEQUENCE public.meter_properties_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.meter_properties_id_seq OWNER TO medicoes_user;

--
-- Name: meter_properties_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: medicoes_user
--

ALTER SEQUENCE public.meter_properties_id_seq OWNED BY public.meter_properties.id;


--
-- Name: meters; Type: TABLE; Schema: public; Owner: medicoes_user
--

CREATE TABLE public.meters (
    id bigint NOT NULL,
    serial_number character varying(120) NOT NULL,
    type character varying(50),
    value numeric(12,3) NOT NULL,
    max_value numeric(12,3) NOT NULL,
    active boolean DEFAULT true NOT NULL,
    reset integer DEFAULT 0,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.meters OWNER TO medicoes_user;

--
-- Name: meters_id_seq; Type: SEQUENCE; Schema: public; Owner: medicoes_user
--

CREATE SEQUENCE public.meters_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.meters_id_seq OWNER TO medicoes_user;

--
-- Name: meters_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: medicoes_user
--

ALTER SEQUENCE public.meters_id_seq OWNED BY public.meters.id;


--
-- Name: properties; Type: TABLE; Schema: public; Owner: medicoes_user
--

CREATE TABLE public.properties (
    id bigint NOT NULL,
    address character varying(255),
    city character varying(255),
    identifier_code character varying(255),
    active boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.properties OWNER TO medicoes_user;

--
-- Name: properties_id_seq; Type: SEQUENCE; Schema: public; Owner: medicoes_user
--

CREATE SEQUENCE public.properties_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.properties_id_seq OWNER TO medicoes_user;

--
-- Name: properties_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: medicoes_user
--

ALTER SEQUENCE public.properties_id_seq OWNED BY public.properties.id;


--
-- Name: readers; Type: TABLE; Schema: public; Owner: medicoes_user
--

CREATE TABLE public.readers (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    employee_code character varying(255) NOT NULL,
    active boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.readers OWNER TO medicoes_user;

--
-- Name: readers_id_seq; Type: SEQUENCE; Schema: public; Owner: medicoes_user
--

CREATE SEQUENCE public.readers_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.readers_id_seq OWNER TO medicoes_user;

--
-- Name: readers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: medicoes_user
--

ALTER SEQUENCE public.readers_id_seq OWNED BY public.readers.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: medicoes_user
--

CREATE TABLE public.users (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    email character varying(255) NOT NULL,
    password character varying(255) NOT NULL,
    role character varying(255) NOT NULL,
    active boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.users OWNER TO medicoes_user;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: medicoes_user
--

CREATE SEQUENCE public.users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO medicoes_user;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: medicoes_user
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: bank_slip id; Type: DEFAULT; Schema: public; Owner: medicoes_user
--

ALTER TABLE ONLY public.bank_slip ALTER COLUMN id SET DEFAULT nextval('public.bank_slip_id_seq'::regclass);


--
-- Name: client_properties id; Type: DEFAULT; Schema: public; Owner: medicoes_user
--

ALTER TABLE ONLY public.client_properties ALTER COLUMN id SET DEFAULT nextval('public.client_properties_id_seq'::regclass);


--
-- Name: clients id; Type: DEFAULT; Schema: public; Owner: medicoes_user
--

ALTER TABLE ONLY public.clients ALTER COLUMN id SET DEFAULT nextval('public.clients_id_seq'::regclass);


--
-- Name: invoices id; Type: DEFAULT; Schema: public; Owner: medicoes_user
--

ALTER TABLE ONLY public.invoices ALTER COLUMN id SET DEFAULT nextval('public.invoices_id_seq'::regclass);


--
-- Name: measurements id; Type: DEFAULT; Schema: public; Owner: medicoes_user
--

ALTER TABLE ONLY public.measurements ALTER COLUMN id SET DEFAULT nextval('public.measurements_id_seq'::regclass);


--
-- Name: meter_properties id; Type: DEFAULT; Schema: public; Owner: medicoes_user
--

ALTER TABLE ONLY public.meter_properties ALTER COLUMN id SET DEFAULT nextval('public.meter_properties_id_seq'::regclass);


--
-- Name: meters id; Type: DEFAULT; Schema: public; Owner: medicoes_user
--

ALTER TABLE ONLY public.meters ALTER COLUMN id SET DEFAULT nextval('public.meters_id_seq'::regclass);


--
-- Name: properties id; Type: DEFAULT; Schema: public; Owner: medicoes_user
--

ALTER TABLE ONLY public.properties ALTER COLUMN id SET DEFAULT nextval('public.properties_id_seq'::regclass);


--
-- Name: readers id; Type: DEFAULT; Schema: public; Owner: medicoes_user
--

ALTER TABLE ONLY public.readers ALTER COLUMN id SET DEFAULT nextval('public.readers_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: medicoes_user
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: bank_slip bank_slip_nosso_numero_key; Type: CONSTRAINT; Schema: public; Owner: medicoes_user
--

ALTER TABLE ONLY public.bank_slip
    ADD CONSTRAINT bank_slip_nosso_numero_key UNIQUE (nosso_numero);


--
-- Name: bank_slip bank_slip_pkey; Type: CONSTRAINT; Schema: public; Owner: medicoes_user
--

ALTER TABLE ONLY public.bank_slip
    ADD CONSTRAINT bank_slip_pkey PRIMARY KEY (id);


--
-- Name: bank_slips bank_slips_pkey; Type: CONSTRAINT; Schema: public; Owner: medicoes_user
--

ALTER TABLE ONLY public.bank_slips
    ADD CONSTRAINT bank_slips_pkey PRIMARY KEY (id);


--
-- Name: client_properties client_properties_pkey; Type: CONSTRAINT; Schema: public; Owner: medicoes_user
--

ALTER TABLE ONLY public.client_properties
    ADD CONSTRAINT client_properties_pkey PRIMARY KEY (id);


--
-- Name: clients clients_cpf_key; Type: CONSTRAINT; Schema: public; Owner: medicoes_user
--

ALTER TABLE ONLY public.clients
    ADD CONSTRAINT clients_cpf_key UNIQUE (cpf);


--
-- Name: clients clients_email_key; Type: CONSTRAINT; Schema: public; Owner: medicoes_user
--

ALTER TABLE ONLY public.clients
    ADD CONSTRAINT clients_email_key UNIQUE (email);


--
-- Name: clients clients_pkey; Type: CONSTRAINT; Schema: public; Owner: medicoes_user
--

ALTER TABLE ONLY public.clients
    ADD CONSTRAINT clients_pkey PRIMARY KEY (id);


--
-- Name: flyway_schema_history flyway_schema_history_pk; Type: CONSTRAINT; Schema: public; Owner: medicoes_user
--

ALTER TABLE ONLY public.flyway_schema_history
    ADD CONSTRAINT flyway_schema_history_pk PRIMARY KEY (installed_rank);


--
-- Name: invoices invoices_pkey; Type: CONSTRAINT; Schema: public; Owner: medicoes_user
--

ALTER TABLE ONLY public.invoices
    ADD CONSTRAINT invoices_pkey PRIMARY KEY (id);


--
-- Name: measurements measurements_pkey; Type: CONSTRAINT; Schema: public; Owner: medicoes_user
--

ALTER TABLE ONLY public.measurements
    ADD CONSTRAINT measurements_pkey PRIMARY KEY (id);


--
-- Name: meter_properties meter_properties_pkey; Type: CONSTRAINT; Schema: public; Owner: medicoes_user
--

ALTER TABLE ONLY public.meter_properties
    ADD CONSTRAINT meter_properties_pkey PRIMARY KEY (id);


--
-- Name: meters meters_pkey; Type: CONSTRAINT; Schema: public; Owner: medicoes_user
--

ALTER TABLE ONLY public.meters
    ADD CONSTRAINT meters_pkey PRIMARY KEY (id);


--
-- Name: meters meters_serial_number_key; Type: CONSTRAINT; Schema: public; Owner: medicoes_user
--

ALTER TABLE ONLY public.meters
    ADD CONSTRAINT meters_serial_number_key UNIQUE (serial_number);


--
-- Name: properties properties_identifier_code_key; Type: CONSTRAINT; Schema: public; Owner: medicoes_user
--

ALTER TABLE ONLY public.properties
    ADD CONSTRAINT properties_identifier_code_key UNIQUE (identifier_code);


--
-- Name: properties properties_pkey; Type: CONSTRAINT; Schema: public; Owner: medicoes_user
--

ALTER TABLE ONLY public.properties
    ADD CONSTRAINT properties_pkey PRIMARY KEY (id);


--
-- Name: readers readers_employee_code_key; Type: CONSTRAINT; Schema: public; Owner: medicoes_user
--

ALTER TABLE ONLY public.readers
    ADD CONSTRAINT readers_employee_code_key UNIQUE (employee_code);


--
-- Name: readers readers_pkey; Type: CONSTRAINT; Schema: public; Owner: medicoes_user
--

ALTER TABLE ONLY public.readers
    ADD CONSTRAINT readers_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: medicoes_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: medicoes_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: flyway_schema_history_s_idx; Type: INDEX; Schema: public; Owner: medicoes_user
--

CREATE INDEX flyway_schema_history_s_idx ON public.flyway_schema_history USING btree (success);


--
-- Name: idx_bank_slip_active; Type: INDEX; Schema: public; Owner: medicoes_user
--

CREATE INDEX idx_bank_slip_active ON public.bank_slip USING btree (active);


--
-- Name: idx_bank_slip_invoice_active; Type: INDEX; Schema: public; Owner: medicoes_user
--

CREATE INDEX idx_bank_slip_invoice_active ON public.bank_slip USING btree (invoice_id, active);


--
-- Name: idx_bank_slip_invoice_id; Type: INDEX; Schema: public; Owner: medicoes_user
--

CREATE INDEX idx_bank_slip_invoice_id ON public.bank_slip USING btree (invoice_id);


--
-- Name: idx_client_properties_client; Type: INDEX; Schema: public; Owner: medicoes_user
--

CREATE INDEX idx_client_properties_client ON public.client_properties USING btree (client_id);


--
-- Name: idx_client_property_active; Type: INDEX; Schema: public; Owner: medicoes_user
--

CREATE INDEX idx_client_property_active ON public.client_properties USING btree (property_id, active);


--
-- Name: idx_measurements_meter_date; Type: INDEX; Schema: public; Owner: medicoes_user
--

CREATE INDEX idx_measurements_meter_date ON public.measurements USING btree (meter_id, measured_at DESC);


--
-- Name: idx_measurements_reader; Type: INDEX; Schema: public; Owner: medicoes_user
--

CREATE INDEX idx_measurements_reader ON public.measurements USING btree (reader_id);


--
-- Name: idx_readers_active; Type: INDEX; Schema: public; Owner: medicoes_user
--

CREATE INDEX idx_readers_active ON public.readers USING btree (active);


--
-- Name: idx_users_email; Type: INDEX; Schema: public; Owner: medicoes_user
--

CREATE INDEX idx_users_email ON public.users USING btree (email);


--
-- Name: uk_client_property_one_active; Type: INDEX; Schema: public; Owner: medicoes_user
--

CREATE UNIQUE INDEX uk_client_property_one_active ON public.client_properties USING btree (property_id) WHERE (active = true);


--
-- Name: uk_one_active_meter_per_property; Type: INDEX; Schema: public; Owner: medicoes_user
--

CREATE UNIQUE INDEX uk_one_active_meter_per_property ON public.meter_properties USING btree (property_id) WHERE (active = true);


--
-- Name: uk_open_invoice; Type: INDEX; Schema: public; Owner: medicoes_user
--

CREATE UNIQUE INDEX uk_open_invoice ON public.invoices USING btree (meter_id) WHERE ((status)::text = 'OPEN'::text);


--
-- Name: bank_slip fk_bank_slip_invoice; Type: FK CONSTRAINT; Schema: public; Owner: medicoes_user
--

ALTER TABLE ONLY public.bank_slip
    ADD CONSTRAINT fk_bank_slip_invoice FOREIGN KEY (invoice_id) REFERENCES public.invoices(id);


--
-- Name: client_properties fk_client; Type: FK CONSTRAINT; Schema: public; Owner: medicoes_user
--

ALTER TABLE ONLY public.client_properties
    ADD CONSTRAINT fk_client FOREIGN KEY (client_id) REFERENCES public.clients(id) ON DELETE CASCADE;


--
-- Name: invoices fk_invoice_meter; Type: FK CONSTRAINT; Schema: public; Owner: medicoes_user
--

ALTER TABLE ONLY public.invoices
    ADD CONSTRAINT fk_invoice_meter FOREIGN KEY (meter_id) REFERENCES public.meters(id);


--
-- Name: measurements fk_measurement_invoice; Type: FK CONSTRAINT; Schema: public; Owner: medicoes_user
--

ALTER TABLE ONLY public.measurements
    ADD CONSTRAINT fk_measurement_invoice FOREIGN KEY (invoice_id) REFERENCES public.invoices(id);


--
-- Name: measurements fk_measurement_meter; Type: FK CONSTRAINT; Schema: public; Owner: medicoes_user
--

ALTER TABLE ONLY public.measurements
    ADD CONSTRAINT fk_measurement_meter FOREIGN KEY (meter_id) REFERENCES public.meters(id);


--
-- Name: measurements fk_measurement_reader; Type: FK CONSTRAINT; Schema: public; Owner: medicoes_user
--

ALTER TABLE ONLY public.measurements
    ADD CONSTRAINT fk_measurement_reader FOREIGN KEY (reader_id) REFERENCES public.readers(id);


--
-- Name: meter_properties fk_meter; Type: FK CONSTRAINT; Schema: public; Owner: medicoes_user
--

ALTER TABLE ONLY public.meter_properties
    ADD CONSTRAINT fk_meter FOREIGN KEY (meter_id) REFERENCES public.meters(id);


--
-- Name: client_properties fk_property; Type: FK CONSTRAINT; Schema: public; Owner: medicoes_user
--

ALTER TABLE ONLY public.client_properties
    ADD CONSTRAINT fk_property FOREIGN KEY (property_id) REFERENCES public.properties(id) ON DELETE CASCADE;


--
-- Name: meter_properties fk_property; Type: FK CONSTRAINT; Schema: public; Owner: medicoes_user
--

ALTER TABLE ONLY public.meter_properties
    ADD CONSTRAINT fk_property FOREIGN KEY (property_id) REFERENCES public.properties(id);


--
-- Name: bank_slips fkncggahv8s8kehd1po6rw7yjc1; Type: FK CONSTRAINT; Schema: public; Owner: medicoes_user
--

ALTER TABLE ONLY public.bank_slips
    ADD CONSTRAINT fkncggahv8s8kehd1po6rw7yjc1 FOREIGN KEY (invoice_id) REFERENCES public.invoices(id);


--
-- PostgreSQL database dump complete
--

\unrestrict MfvSqd9watdyLNc5afHJ6V0R3yrXsXN6PhDNZUUEdVwI7Lcpmas5Zz17cAcxAAq

